<html>
    <body style="background-color:SteelBlue;">
        <center>
            <img src="{{ url_for( 'static', filename='index.jpg')}}" alt="RFM segmentation" width="638" height="359">
            <br> <br> <br> <br> <br> <br>
            <h1>CLICK TO DISPLAY RESULTS.</h1>
            <button type="button" onclick=><a href="/visualization"> Click Me!</a></button>
        </center>
    </body>
</html>