<!DOCTYPE html>
<html>
    
   <body style="background-color:SteelBlue;">
    <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <h1 align="center">Upload a file.</h1>
      <h3 align="center">Click on the choose file to select the file.</h3>
      <center>
      <img src="{{ url_for( 'static', filename='Upload-icon.png')}}" alt="Upload icon" width="256" height="256">
      <center><form action = "http://localhost:5000/uploader" method = "POST"

         enctype = "multipart/form-data">
         <input type = "file" name = "file" required>
         <input type = "submit" >
      </form></center>

    <script>
    function myFunction() {
    var x = document.getElementById("myFile").required;
    document.getElementById("demo").innerHTML = x;
    }
</script>

   </body>
   
</html>
