
<!DOCTYPE html>
<html>
    <body style="background-color:SteelBlue;">
        <center>
            <h1>RFM segmentation is a great method to identify groups of customers for special treatment.</h1>
            <p style="font-size:20px">Customers are grouped in to catogeries according the scores.<br> The scores are calculated according the latest day of the visit (RECENCY),<br> number of times they visit the store (FREQUENCY), and the amount they spend (MOnetary).</p>
            <h2>Best Total_score is 3. The best value is 1 for Recency, Frequency, and Monetary respectively. </h2>
            <h3>Average money spent by each group.<br>Customers with total score of 3,4,5 adds upto maximum monetary_value.</h3>
            <img src="{{ url_for( 'static', filename='fig.png')}}" alt="Total_score vs Monetary" width="432" height="288">
            <br><br>
            <h3>Average number of visit by each group.<br> Customers with total score of 3,4,5 are more frequent in pruchasing.</h3>
            <img src="{{ url_for( 'static', filename='fig1.png')}}" alt="Total_score vs Frequency" width="432" height="288">
            <br><br>
            <h3>Average of day of latest visit by each group.<br> the most recent customers are with the total scores of 3,4,5.</h3>
            <img src="{{ url_for( 'static', filename='fig2.png')}}" alt="Total_score vs Recency" width="432" height="288">
            <br><br>
            <h3>Simulated response. 0: Negative, 1: Positive.<br> 0: Ingores the offers. 1: Uses the offer</h3>
            <img src="{{ url_for( 'static', filename='Sim.png')}}" alt="Response" width="432" height="288">
            <br><br>
            <h3>Response per group.<br> Customers those are most likely to respond to the promotions.</h3>
            <img src="{{ url_for( 'static', filename='ax.png')}}" alt="Total_score vs Response" width="432" height="288">
            <br><br>
            <h3>Classifaction of groups along the status.</h3>
            <img src="{{ url_for( 'static', filename='square.png')}}" alt="RFM Segments" width="1152" height="648">
            <br><br>
            <h2>Mean values of Recency, Frequency, and Monetary of categorized customers </h2>
            <font color="white">
            {{table | safe}}
            </font>       
        </center>
    </body>
</html>

